*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container {
    background-color:floralwhite ;
    height: 100vh;
}

.Heading {
    font-size: 2rem;
    padding-top: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.header{
    text-align: center;
    margin-top: 80px;
}
.header button {
    padding: 15px 12px;
    margin: 10px;
    font-size: 1rem;
    background-color: lavender;
    cursor: pointer;
}

.Function-btn:hover {
    background-color: lightcoral;
}
.Class-btn:hover {
    background-color: greenyellow;
}

.section {
    display: flex;
    justify-content: space-around;
}
